/**
* * Rest style
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;


}

body {
	font-family: 'Yekan', 'sans-serif';
  direction: rtl;
  height: auto;
  background: linear-gradient(0deg, #FAFBFD, #FAFBFD), #F7F8FA;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  font-family: 'Yekan', 'sans-serif';

}



.CounterCard{
  box-shadow: 0px 0px 5px 3px #eaeaea96;
  padding: 20px;
  border-radius: 5px;
background-color: #fff;
  &-icon{
    background-color: rgba(59,93,231,.25)!important;
    border-radius: 5px;
  }
}
.reactCodeInput.react-code-input {
  direction: ltr;
}
svg.svg-inline--fa.fa-trash{
  color: red;
}
svg.svg-inline--fa.fa-pen-to-square{
  color: #737373;

}

.editor-content {
  background: #f9fafb;
  border-radius: 5px;
  border: 1px solid #d1d5db;
}

.notranslate.public-DraftEditor-content {
border: 0;
padding: 10px 20px;
  border-bottom: 1px solid #ddd;
 background: transparent; 
  border-radius: 2px;
 box-shadow:none;
  z-index: 2;
  box-sizing: border-box;
  font-size: 16px;
  
}
.notranslate.public-DraftEditor-content {
  direction: rtl;
  text-align: right;
  font-size: 16px;
  min-height: 200px;
  padding: 15px;
}

.public-DraftStyleDefault-ltr {
  direction: rtl;
  text-align: right;
}
.toolbar-item {
  background: #fbfbfb;
  color: #888;
  font-size: 18px;
  border: 0;
  padding-top: 5px;
  vertical-align: bottom;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}
.toolbar-container {
  display: flex;
  padding: 14px;
  grid-gap: 5px;
  border-bottom: 1px solid #d1d5dc;
}
.toolbar-item.selected{
  color: #252424;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.PrimayTable{
 // width: 100px;
  .ant-table-wrapper{
    overflow-x: auto;
    &::-webkit-scrollbar {
     width: 1px;
     height: 1px;
   }
   
   /* Track */
   &::-webkit-scrollbar-track {
     background: #f1f1f1; 
   }
    
   /* Handle */
   &::-webkit-scrollbar-thumb {
     background: #888; 
   }
   
   /* Handle on hover */
   &::-webkit-scrollbar-thumb:hover {
     background: #555; 
   }
}
}
.SearchInput{
  button.ant-btn.ant-btn-primary.ant-input-search-button {
    background: #112374;
    padding: 11px;
  }
  input.ant-input{
  padding: 11px 11px;
  }
  .ant-input-search >.ant-input-group >.ant-input-group-addon:last-child {
    inset-inline-start: -1px;
    padding: 0;
    border: 0;
    background: #112374;
}
}
.ProductCard{
  button{
    font-size: 1.3rem;
  }
}
.ant-btn.ant-btn-primary{
background-color: #112374;
}