.container-lg {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-right: 5rem;
  padding-left: 5rem;
  height: inherit;
  max-width: 1920px;

 
}

.container {
  margin: 0 auto;
  overflow: hidden;
  height: 100%;

  max-width: 1344px;

}
.container-overflow{
  margin: 0 auto;
  height: 100%;

  max-width: 1344px;

 
}
